.filter {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.filter div {
  position: relative;
}

.filter input {
  padding: 1rem 4rem;
  width: 30rem;
  font-family: inherit;
  font-size: 0.875rem;
  color: var(--light-mode-input);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0.4rem;
  outline: none;
}

:global(.darkTheme).filter input {
  background-color: var(--dark-mode-elements);
  color: var(--light-mode-elements);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.filter input:hover,
.filter input:focus {
  border-color: var(--light-mode-input);
}

:global(.darkTheme).filter input:hover,
:global(.darkTheme).filter input:focus {
  border-color: var(--light-mode-input);
}

:global(.darkTheme).filter input::placeholder {
  color: var(--light-mode-elements);
}

.filter div svg {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 10;
}

.filter select {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  width: 12.5rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: var(--light-mode-input);
  border-radius: 0.4rem;
}

:global(.darkTheme).filter select {
  background-color: var(--dark-mode-elements);
  color: var(--light-mode-elements);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
  .filter input {
    width: 20rem;
  }
}

@media (max-width: 650px) {
  .filter input {
    margin-bottom: 1rem;
    width: 100%;
    position: initial;
  }
  .filter {
    display: block;
    margin-top: 5rem;
  }
}
